@using DataSite.Code.Manager
@using DataSite.Code.Models
@using MarkdownSharp
@model DataSite.Models.Project.ProjectListModel

@{
    ViewBag.Title = "Projects";
    ViewBag.Page = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects <small>@Model.Projects.Count total</small> @if(AdminManager.CanAdmin(Context)) { <text><small>@Html.ActionLink("add", "Add", "Admin")</small></text>}</h2>
@{
    Markdown mkdMarkdown = new Markdown();

    foreach (ProjectItem project in Model.Projects)
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@project.Name <small>@Html.ActionLink("view", "View", "Project", new { id = project.Id }, null)</small></h4>
                </div>
                <div class="panel-body">
                    @Html.Raw(mkdMarkdown.Transform(project.Abstract))
                </div>
            </div>
        </div>
    }
}